@tailwind base;
@tailwind components;
@tailwind utilities;

/*control styles for menu-mobile, nav list and hamburger animation*/
.mobile-line {
  @apply py-2 w-full text-center text-lg font-semibold text-gray-800 border-b-2 border-b-gray-200;
}
#mobile-list {
  @apply container mx-auto flex justify-center items-center w-full bg-gray-100 absolute top-24 invisible overflow-y-hidden;
}
#mobile-list.active {
  @apply visible overflow-y-auto;
}
.link {
  @apply w-full py-1 px-3;
}

#hamburger {
  display: block;
  border-top: 4px solid #404040;
  width: 20px;
  border-radius: 2px;
}
#hamburger::before,
#hamburger::after {
  content: "";
  display: block;
  width: 20px;
  height: 4px;
  background-color: #404040;
  margin-top: 5px;
  transition: 0.5s;
  position: relative;
  border-radius: 2px;
}
[data-mobile="button"].active #hamburger {
  border-top-color: transparent;
}
[data-mobile="button"].active #hamburger::before {
  transform: rotate(135deg);
}
[data-mobile="button"].active #hamburger::after {
  transform: rotate(-135deg);
  top: -9px;
}
/* glass bg for text above photos */
.glass-bg {
  background-color: rgba(0, 0, 0, 0.35);
}
.glass-bg-white {
  background-color: rgba(255, 255, 255, 0.5);
}
/*link btn components*/
.btn-pink {
  @apply mb-6 text-white uppercase font-bold py-3 px-6 rounded-md bg-[#f22e7a] hover:bg-[#cd165c];
}
.btn-sky {
  @apply mb-6 text-white uppercase font-bold py-3 px-6 rounded-md bg-sky-500 hover:bg-sky-600;
}
/*styles for home section*/

#home {
  @apply bg-[url('../src/images/home.webp')] bg-cover bg-center h-[720px] w-full flex flex-col justify-center mb-20;
}

/* styles for flex-hire section */

#flex-hire {
  @apply container mx-auto flex flex-col py-4 px-6 mb-20 gap-10 justify-center items-center bg-gray-50;
}
.icon-detail {
  @apply w-max py-2 px-2 rounded-full bg-sky-500 flex-shrink-0;
}
.title-md {
  @apply font-semibold text-xl text-black mb-3;
}
.card {
  @apply flex items-center gap-3 py-4 px-4 shadow-md bg-white rounded-sm;
}
/*styles for investment article*/

#investment {
  @apply py-10 px-4 h-[600px] w-full bg-[url('../src/images/close-up-male-hands-using-laptop-home.webp')] bg-cover bg-center flex items-center justify-center mb-20;
}
.investment-glass {
  @apply container mx-auto glass-bg py-8 px-4 rounded-md flex flex-col justify-center items-center md:max-w-4xl;
}
/*styles for about section*/

/*styles for social article*/

#social {
  @apply px-8 py-16 bg-[url('../src/images/excited-happy-afro-american-man-looking-laptop-computer.webp')] bg-cover bg-center;
}

.social-glass {
  @apply container mx-auto glass-bg-white py-8 px-4 rounded-md flex flex-col justify-start items-start md:max-w-4xl;
}
/*styles for contact section*/

.input-field {
  @apply border-2 border-gray-300 outline-none rounded-md text-lg py-2 px-4 focus:border-sky-600;
}
