@tailwind base;
@tailwind components;
@tailwind utilities;

/*styles for header*/
#navbar {
  @apply bg-[#e9e9e9] flex justify-center relative w-screen;
}

.header-wrapper {
  @apply container mx-auto w-full flex justify-between px-4 py-1 items-center xl:px-8;
}

/*control styles for menu-mobile, nav list and hamburger animation*/
#mobile-list {
  @apply container justify-center items-center w-full bg-gray-100 absolute top-24 hidden overflow-y-hidden lg:visible lg:top-8 lg:bg-transparent;
}
#mobile-list.active {
  @apply flex overflow-y-auto;
}

.mobile-ul {
  @apply flex flex-col justify-center items-center text-center w-full lg:flex-row lg:justify-center lg:pl-48 xl:justify-end xl:pr-32;
}
.mobile-line {
  @apply py-2 w-full text-center text-lg font-semibold text-gray-800 border-b-2 border-b-gray-200 lg:text-base lg:border-b-transparent lg:w-max;
}

.link {
  @apply w-full py-1 px-3;
}

[data-mobile="button"] {
  text-indent: -9999999999px;
  padding-bottom: 24px;
}
#hamburger {
  display: block;
  border-top: 4px solid #404040;
  width: 20px;
  border-radius: 2px;
}
#hamburger::before,
#hamburger::after {
  content: "";
  display: block;
  width: 20px;
  height: 4px;
  background-color: #404040;
  margin-top: 5px;
  transition: 0.5s;
  position: relative;
  border-radius: 2px;
}
[data-mobile="button"].active #hamburger {
  border-top-color: transparent;
}
[data-mobile="button"].active #hamburger::before {
  transform: rotate(135deg);
}
[data-mobile="button"].active #hamburger::after {
  transform: rotate(-135deg);
  top: -9px;
}
/* glass bg for text above photos */
.glass-bg {
  background-color: rgba(0, 0, 0, 0.35);
}
.glass-bg-white {
  background-color: rgba(255, 255, 255, 0.5);
}
/*link btn components*/
.btn-pink {
  @apply mb-6 w-max text-white uppercase font-bold py-3 px-6 rounded-md bg-[#f22e7a] hover:bg-[#cd165c];
}
.btn-sky {
  @apply mb-6 w-max text-white uppercase font-bold py-3 px-6 rounded-md bg-sky-500 hover:bg-sky-600;
}
.link-text {
  @apply inline-block text-lg lg:text-xl text-sky-600 font-semibold w-max;
}

.link-text:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background-color: #0284c7;
  animation: growing-line 3s infinite;
}

/*styles for home section*/
#home {
  @apply bg-[url('../src/images/home.webp')] bg-cover bg-center h-[720px] w-full flex justify-center items-center mb-20 md:justify-start;
}
.home-glass {
  @apply container mx-auto glass-bg py-8 px-4 md:max-w-2xl md:mx-8 lg:mx-24;
}

/* styles for flex-hire section */

#flex-hire {
  @apply container mx-auto flex flex-col py-4 px-8 mb-20 gap-10 justify-center items-center bg-gray-50 lg:flex-row lg:items-start lg:justify-start opacity-0;
}
#flex-hire.onShow {
  animation: show-down 0.8s forwards;
}
.icon-detail {
  @apply w-max py-2 px-2 rounded-full bg-sky-500 flex-shrink-0;
}
.title-md {
  @apply font-semibold text-xl text-black mb-3 lg:text-2xl;
}
.card {
  @apply flex items-center gap-3 py-4 px-4 shadow-md bg-white rounded-sm lg:max-w-6xl;
}
.card.onShow {
  animation: show-right 0.8s forwards;
}

/*styles for investment article*/

#investment {
  @apply py-10 px-4 w-full h-full bg-[url('../src/images/close-up-male-hands-using-laptop-home.webp')] bg-cover bg-center flex items-center justify-center mb-20 opacity-0;
}
#investment.onShow {
  animation: show-down 0.8s forwards;
}
.investment-glass {
  @apply container mx-auto glass-bg py-8 px-4 rounded-md flex flex-col justify-center items-center md:max-w-4xl;
}
/*styles for training section*/

#training {
  @apply px-8 py-4 mb-20 container mx-auto flex flex-col justify-center items-center opacity-0;
}
#training.onShow {
  animation: show-right 0.8s forwards;
}
.training-card {
  @apply border-2 border-gray-100 shadow-md py-6 px-3 lg:max-w-lg h-max;
  transition: 0.6s;
  transform: scale(0.95);
}
.training-card:hover {
  transform: scale(1.05);
}

/*styles for about section*/

#about {
  @apply bg-sky-50 px-6 py-16 opacity-0;
}
#about.onShow {
  animation: show-down 0.8s forwards;
}
.about-wrapper {
  @apply container mx-auto flex flex-col justify-center items-center gap-8 md:flex-row lg:items-start md:justify-around;
}

/*styles for social article*/

#social {
  @apply px-8 py-16 bg-[url('../src/images/excited-happy-afro-american-man-looking-laptop-computer.webp')] bg-cover bg-center;
}

.social-glass {
  @apply container mx-auto glass-bg-white py-8 px-4 rounded-md flex flex-col justify-start items-start md:max-w-lg md:justify-start md:mx-8 lg:mx-24 opacity-0;
}
.social-glass.onShow {
  animation: show-right 0.8s forwards;
}
/*styles for contact section*/
#contact {
  @apply mt-20 py-10 px-8 bg-gray-100;
}

.contact-dl {
  @apply container mx-auto flex flex-col justify-start items-stretch max-w-6xl;
}
.contact-dt {
  @apply card mb-4 cursor-pointer w-full flex items-center justify-between;
}
.contact-dd {
  @apply bg-white py-4 px-4 mb-4;
}
.grid-form {
  @apply mt-4 flex flex-col gap-4 lg:grid lg:grid-cols-2;
}
.input-field {
  @apply border-2 border-gray-300 outline-none rounded-md text-lg py-2 px-4 focus:border-sky-400;
}
.accord-arrow {
  @apply bg-[url('../src/images/toright_arrow.svg')] bg-cover bg-center w-8 h-8 block;
  transform: rotate(-90deg);
  transition: 0.6s;
}
.contact-dt.open .accord-arrow {
  transform: rotate(90deg);
}

@keyframes growing-line {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(60px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
